/* MAIN PART  */

.sudo {
  width: 100%;
  height: 100vh;

  &__main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    width: 65%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }
  &__item {
    width: 32%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7ab6c3;
    border-radius: 25px;
    transition: all 0.4s linear;

    &:hover {
      background-color: #3d4350;
      cursor: url(../../img/j.svg);
    }

  }

  // &__ {

  // }

  // &__ {

  // }

  // &__ {

  // }

  // &__ {

  // }

  // &__ {

  // }

  // &__ {

  // }

  // &__ {

  // }
}

.bx-x,
.bx-circle {
  font-size: 150px;
  font-weight: 700;
  border-radius: 6px;
  color: #fff;
  opacity: 0.5;
}

.none {
  display: none;
}